# Frameworks principais
Flask==3.1.0
Django==5.1.4

# Flask extensões
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2

# Django extensões e suporte
sqlparse==0.5.3
asgiref==3.8.1

# Utilitários para templates
Jinja2==3.1.4
MarkupSafe==3.0.2
WTForms==3.2.1

# Bibliotecas de rede e requisições
requests==2.32.3
urllib3==2.2.3
idna==3.10
chardet==5.2.0
charset-normalizer==3.4.0
PySocks==1.7.1
websocket-client==1.8.0
h11==0.14.0
wsproto==1.2.0

# Segurança e criptografia
itsdangerous==2.2.0
cffi==1.17.1
pycparser==2.22

# Suporte para cores no terminal
colorama==0.4.6

# Áudio e multimídia
pillow==11.0.0
pygame==2.6.1
sounddevice==0.5.1
SpeechRecognition==3.11.0
PyAudio==0.2.14
whisper==1.1.10

# Integração com navegadores e automação
selenium==4.27.1

# Ferramentas de desenvolvimento
Werkzeug==3.1.3
click==8.1.7
blinker==1.9.0

# Geração de arquivos e relatórios
python-barcode==0.15.1
reportlab==4.2.5
openpyxl==3.1.5
et_xmlfile==2.0.0

# Suporte matemático e científico
numpy==2.1.2

# PyQt5 (interface gráfica)
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0

# Packaging e instalação
packaging==24.1
pefile==2023.2.7
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
altgraph==0.17.4

# Utilitários de sistema e threads
psutil==6.1.0
greenlet==3.1.1
pywin32-ctypes==0.2.3

# Async e suporte a websockets
trio==0.27.0
trio-websocket==0.11.1
sniffio==1.3.1
outcome==1.3.0.post0

# Outros
attrs==24.2.0
tzdata==2024.2
six==1.16.0
sortedcontainers==2.4.0
typing_extensions==4.12.2
certifi==2024.8.30
tkmacosx==1.0.5
colour==0.1.5
